<div class="text-center">Cập nhật sản phẩm 2</div>
<form method="post" action="/admin/store" enctype="multipart/form-data">

  <!-- Vertical -->
  <div class="form-group w-50 mx-auto">
    <label for="mytext">Tên</label>
    <input name="name" type="text" id="mytext" class="form-control" placeholder="Nhập tên sản phẩm" />
    <label for="mytext">Giá</label>
    <input name="price" type="text" id="mytext" class="form-control" placeholder="Nhập giá cho sản phẩm" />
    <label for="mytext"> Mô tả </label>
    <input name="description" type="text" id="mytext" class="form-control" placeholder="Nhập mô tả sản phẩm" />
    <div class="form-group">
      <label for="exampleFormControlFile1">Thêm hình ảnh cho sản phẩm</label>
      <input type="file" name="profile_pic" class="form-control-file" id="exampleFormControlFile1" />
    </div>

    <button type="submit" class="btn btn-primary">Đăng</button>
  </div>

</form>