<form method="post" action="/admin/store"  enctype="multipart/form-data" class="w-50 mx-auto">

<div class="form-outline mb-4">
    <label class="form-label" for="form4Example1">Tên</label>
    <input type="text" id="form4Example1" name="name" class="form-control" placeholder="Nhập tên sản phẩm"/>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form4Example2">Giá</label>
    <input type="text" id="form4Example2" name="price" class="form-control" placeholder="Nhập giá cho sản phẩm"/>
  </div>
    <div class="form-outline mb-4">
    <label class="form-label" for="customFile">Thêm hình ảnh cho sản phẩm</label>
    <input type="file" id="customFile" name="profile_pic" class="form-control" placeholder="Nhập giá cho sản phẩm"/>
  </div>
 
  

  <!-- Message input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form4Example3">Mô tả </label>
    <textarea class="form-control" name="description" id="form4Example3" rows="4" placeholder="Nhập mô tả cho sản phẩm" ></textarea>
  </div>

  <!-- Checkbox -->

  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">CẬP NHẬT</button>
</form>