<div class="app-page-title mb-5 text-center">Thêm người dùng</div>
<form method="post" action="/admin/user/store" enctype="multipart/form-data" class="w-50 mx-auto">
  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label font-weight-bold" for="form4Exampleht">Họ và tên(*)</label>
    <input type="text" id="form4Exampleht" name="fullname" class="form-control" required="true"
      placeholder="Nhập họ và tên" autofocus="true" />
  </div>
  <div class="form-outline mb-4">
    <label class="form-label font-weight-bold" for="form4Exampleemail">Email(*)</label>
    <input type="email" id="form4Exampleemail" name="email" class="form-control" required="true"
      placeholder="Nhập email " />
  </div>
  <div class="form-outline mb-4">
    <label class="form-label font-weight-bold" for="form4Examplemk">Mật khẩu(*)</label>
    <input type="password" id="form4Examplemk" name="password" class="form-control" required="true"
      placeholder="Nhập mật khẩu " />
  </div>

  <div class="form-outline mb-4">
    <label class="form-label font-weight-bold" for="phone">Số điện thoại(*)</label>
    <input type="text" name="phone" id="phone" class="form-control" required="true" placeholder="Nhập số điện thoại " />
  </div>

  <div class="form-outline mb-4">
    <label class="form-label font-weight-bold" for="customFile">Avatar(*)</label>
    <label for="customFile" class="d-flex justify-content-center">
      <div class="mb-4">
        <img class="rounded-circle list-img-admin" src="/noimage/no-image-available.png" id="fileSliderAdd"
          alt="No image available">
      </div>
    </label>
    <input type="file" id="customFile" onchange="chooseFileAdd(this)" name="image" class="form-control" require="true">
  </div>
  <div class="form-outline mb-4">
    <label class="form-label font-weight-bold" for="address">Địa chỉ(*)</label>
    <input type="text" name="address" id="address" class="form-control" required="true" placeholder="Nhập địa chỉ" />
  </div>

  <!-- Checkbox -->

  </div>

  <!-- Submit button -->
  <div class="col-6 col-lg-6 mx-auto">
    <button type="submit" class="btn btn-success btn-block mb-4">Thêm mới</button>
  </div>
</form>
<script>
  function chooseFileAdd(input) {
    const files = input.files
    const file = files[0];
    const validImageTypes = ['image/gif', 'image/jpeg', 'image/png', 'image/webp'];
    if (!validImageTypes.includes(file['type'])) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#fileSliderAdd').attr('src', '/noimage/no-image-available.png');
      }
      reader.readAsDataURL(file);
      return false;
    }
    if (files && file) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#fileSliderAdd').attr('src', e.target.result);
      }
      reader.readAsDataURL(file);
    }
  }
</script>