<form method="post">
  <div class="form-group">
    <h1>News page</h1>
    <label for="exampleInputEmail1">Nhập từ khóa</label>
    <input type="text" name="search" class="form-control" id="exampleInputEmail1">
  </div>
  <select name="gender" id="">
    <option value="male" >Male</option>
    <option value="female" >Female</option>
    <option value="" >orther</option>
  </select>
  <button type="submit" class="btn btn-primary">Tìm kiếm </button>
</form>